body{
    background-color: #eee;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.attribution {
    margin: 100px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}